@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

body {
  background: #2b1561;
  background: linear-gradient(
    90deg,
    rgba(43, 21, 97, 1) 0%,
    rgba(71, 46, 153, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
