@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

  body {
    background: #2b1561;
    background: linear-gradient(
      90deg,
      rgb(35, 12, 12) 0%,
      rgb(64, 19, 19) 35%,
      rgb(55, 6, 6) 100%
    );
  }  
